@charset "utf-8";
/* CSS Document */
/*top-bar*/
.no-border
{
	border:none;
	border-radius: 0px;
}
.top-bar
{
	background-color:#f5f5f5;
	padding:10px 0px;
}
.top-bar .lang
{
	font-size:11px;
}
.top-bar .lang button
{
	border:none;
	border-radius: 0px;
}
.top-bar .lang ul.dropdown-menu
{
	margin-top:0px;
}
.top-links
{
	margin:6px 0px 0px;
}
.top-links li
{
	float:left;
	font-size:12px;
	padding:0px 10px;
	border-right:1px solid #699;
}
.top-links li a{
	color:#716e6e;
}
.top-links li:last-child
{
	border:none;
	padding-right:0px;
}
/* main-header*/

.main-header
{
	padding:35px 0px;
}
.main-header .search-w input[type=text]
{
	width:205px;
}
.main-header .search-w button
{
	margin-right:-38px;
}
.cart-w,.wishlist-w
{
	float:left;
}
.cart-w
{
	margin:0px 20px 0px 0px;
}
.cart-wish-w span
{
	border:1px solid #699;
	padding:5px 10px;
	display:block;
	float:left;
	border-right:none;
}
.cart-wish-w span strong
{
	font:12px;
	font-weight:normal;
	color:#f2532f;
	padding:0px 5px 0px 0px;
}
.cart-wish-w a
{
	display:block;
	float:left;
	width:39px;
	height:39px;
	line-height:39px;
	text-align:center;
	color:#fff;
	background-color:#F2532F;
	margin-top:-3px;
	
}
/* main-nav */
.main-nav
{
	background-color:#000;
}
.nav-pills > li.active > a,.nav-pills > li.active > a:hover,.nav-pills > li.active > a:focus
{
	background:none;
}
/*.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	border-color:#f2532f;
	background:#fff;
}*/
.main-vav li{
	margin:0px;
}
.main-nav li a
{
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	padding:15px;
	
}
.main-nav li a:hover,.main-nav li.active a:hover,.main-nav li.active a
{
	color:#000;
	border-radius:0px;
	border-color:F2532F;
	background:#FFF;
	border-top:3px solid #900;
}
.main-nav li ul li a
{
	background:#FFF;
	color:#000;
	border:none;
	border-radius:none;
	font-size:12px;
	font-weight:normal;
	padding:5px 10px;
	
}
.main-nav li ul li a:hover
{
	border-top:none;
}
/*.slider*/
/*.content*/
.content
{
	padding:40px 0px;
}
.promo
{
	margin-bottom:30px;
}
.promo img
{
	width:100%;
}
/*.product lists*/

h3.box-title
{
	text-align:center;
	border-bottom:1px solid #999;
	padding-bottom:20px;
	margin-bottom:30px;
}
.product-lists
{
	margin-bottom:30px;
}
.product-item
{
	position:relative;
}
.product-item .image
{
	width:100%;
}
.product-item .image img
{
	border-bottom:1px solid #elelel;
	padding-bottom:40px;
}
.product-item .image .line
{
	width:20px;
	height:1px;
	background-color:#f2532f;
	margin:-1px 0px 0px 5px;
}
.product-item:hover .image .line
{
	transition:width 2s;
	width:55%;
}
.product-item .image .wishlist
{
	position:absolute;
	bottom:132px;
	right:125px;
	display:none;
}
.product-item:hover .image .wishlist
{
	display:block;
}
.product-item .image .wishlist a
{
	display:block;
	width:33px;
	height:33px;
	line-height:33px;
	color:#FFF;
	text-align:center;
	border-radius:2px;
	background-color:#F30;
}
.product-item .image .wishlist a:hover
{
	background:#000;
	transition:all 200ms ease-in-out 0s;
}
.product-item .title a
{
	font-size:14px;
	font-weight:normal;
	color:#928f8f;
}
.product-item .title a:hover
{
	color:#000;
}
.product-item .info
{
	overflow:hidden;
}
.product-item .info .pull-left
{
	margin-top:8px;
}
.product-item .info del
{
	display:block;
	float:left;
	font-size:11px;
	margin:0px 10px 0px 0px;
	padding-top:5px;
}
.product-item .info ins
{
	text-decoration:none;
	font-size:16px;
	color:#f2532f;
}
.product-item .btn-cart
{
	display:block;
	width:33px;
	height:33px;
	line-height:33px;
	background-color:#f2532f;
	text-align:center;
	color:#fff;
	border-radius:2px;
	margin-left:-135px;
}
/*about*/
.about
{
	margin-bottom:30px;
}
.about-w
{
	padding-right:0px;
}
.form-about
{
	background-color:#2e2f33;
	height:157px;
	padding:20px 10px 0px 25px;
}
.form-about h3
{
	font-size:18px;
	color:#fff;
	text-transform:uppercase;
	margin:0px 0px 20px 0px;
}
.form-about a{
	background-color:#000;
	color:#fff;
}
.shop-about
{
	border:1px solid #e1e1e1;
	height:157px;
	padding-left:25px;
}
.shop-about
{
	padding:15px 0px;
	font-size:12px;
	text-align:justify;
}
/*News*/
.news-item span
{
	display:block;
	font-size:12px;
}
.news-item h2 a
{
	color:#000000;
	font-size:18px;
}
.news-item h2 a:hover{
	color:#f2532f;
}
.news-item p.excerpt
{
	padding:10px 0px;
	font-size:12px;
	color:#818181;
	text-align:justify;
	line-height:18px;
}
.news-item .read-more{
	font-size:12px;
	color:#f2532f;
}
/*footer*/
.footer-custom
{
	background:#fafafa;
	padding:35px 0px;
	font-size:12px;
}
.footer-custom .title{
	position:relative;
}
.footer-custom .title h3{
	font-size:18px;
	margin-bottom:30px;
	padding-bottom:15px;
	border-bottom:1px solid #e1e1e1;
	text-transform:uppercase;
}
.footer-custom .title .line{
	width: 20px;
	height:1px;
	background:#f2532f;
	position:absolute;
	bottom:0px;
	left:20px;
}
.contact-us .item{
	overflow:hidden;
	margin:0px 0px 10px;
}
.contact-us .item .icon{
	float:left;
	width:33px;
	height:33px;
	line-height:33px;
	color:#fff;
	background:#f2532f;
	text-align:center;
}
.contact-us .item .info{
	padding:5px 0px 0px 40px;
}
.footer-links{
	padding:50px 0px;
}
.footer-links h3{
	font-size:18px;
	border-bottom:1px solid #e1e1e1;
	padding-bottom:10px;
	margin-bottom:20px;
	font-weight:bold;
}
.footer-links ul li{
	margin:0px 0px 8px 0px;
}
.footer-links ul li a{
	font-size:12px;
	color:#000;
}
.footer-copyright{
	background:#2e2f33;
	padding: 15px 0px;
}
.footer-copyright p{
	color:#fff;
}